/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 300;
    color: #989898 ;
}

/*UTILITY*/
.container {
    max-width: 1200px;
    margin: 20px auto;
}

.mrg {
    margin-bottom: 30px;
}

.pdng {
    padding-left: 10px;
    padding-right: 10px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.pic {
    width: 100%;
    background-position: center;
    border-radius: 15px;
}

/*HEADER*/
.brand {
    display: inline-block;
}

.brand img {
    width: 165px;
}

.main-menu li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.main-menu li a {
    text-decoration: none;
    color: #868686;
    text-transform: uppercase;
}

.main-menu li a:hover {
    color: black;
}

/*HERO*/
.hero {
    height: 400px;
    background-attachment: fixed ;
    background-image: url(../img/banner.jpg);
    position: relative;
}

.hero-description{
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.hero-description > div {
    font-size: 25px;
}

div > p {
    font-size: 14px;
}

.drk{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 15px;
}

/*colums section*/
.colum-header {
    margin-bottom: 30px;
}

.colum-header > h1 {
    font-size: 35px;
    color: black;
    font-weight: 700;
}

/*colum*/
.colums .col {
    float: left;
    width: 20%;
}

.colums .col:nth-child(2) {
    width: 60%;
}

.col-img1,
.col-img2,
.col-img3 {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    filter: brightness(85%);
    border-radius: 15px;
    margin-bottom: 15px;
}

.col-img1 {
    background-image: url(../img/img-1.jpg);
}

.col-img2 {
    background-image: url(../img/banner-2.jpg);
}

.col-img3 {
    background-image: url(../img/img-3.jpg);
}

div > h5 {
    margin-bottom: 10px;
}

/*FOOTER*/
footer {
    text-align: center;
    color: #000;
}

.heart {
    width: 20px;
    color: red;
}