/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-weight: 300;
    color: #989898 ;
}

/*UTILITY*/
.container {
    max-width: 1200px;
    margin: 20px auto;
}

.mrg {
    margin-bottom: 30px;
}

.pdng {
    padding-left: 10px;
    padding-right: 10px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.debug-content {
    height: 60px;
    background-color: rgba(247, 111, 7, 0.5);
}

.pic {
    width: 100%;
    background-position: center;
    border-radius: 15px;
}

/*HEADER*/
.brand {
    display: inline-block;
}

.brand img {
    width: 165px;
}

.main-menu li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.main-menu li a {
    text-decoration: none;
    color: #868686;
    text-transform: uppercase;
}

.main-menu li a:hover {
    color: black;
}

/*HERO*/
.hero {
    height: 400px;
    background-attachment: fixed ;
    background-image: url(../img/banner.jpg);
    position: relative;
}

.hero-description{
    color: white;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.hero div:first-child {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 15px;
}

h3 {
    font-size: 25px;
}
/*colums section*/
.colums-section {
    background-color: #0186ff; /*colore riferimento*/
}

.colum-header {
    background-color: #abcfe7; /*colore riferimento*/
    margin-bottom: 20px;
}

.colums .col {
    float: left;
    width: 20%;
}

.colums .col:nth-child(2) {
    width: 60%;
}

.fot {

    background-color: rebeccapurple;
}